[run]
omit = 
    */RCAIDE/Framework/External_Interfaces/*
    */RCAIDE/Library/Methods/Aerodynamics/Athena_Vortex_Lattice/*
     */RCAIDE/Library/MethodsMethods/Emissions/Chemical_Reactor_Network_Method/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass 